@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
.right{
  margin-left: 800px;
}
.container{
  width: 600px;
  position: absolute;
  left: 10%;
  top: 16%;
}
.heading{
  margin-bottom: 50px;
}
h3{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500
}
.welcome{
  text-align: center;
  color: #636364;
}
.input{
  margin-left: 140px;
}
#email{
  width: 314px;
  height: 42px;
  border: 1px solid #C4C4C4;
  border-radius: 12px;
  color: #636364;
  padding-left: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  margin-block: 10px;
}
#pass{
   width: 314px;
  height: 42px;
  border: 1px solid #C4C4C4;
  border-radius: 12px;
  color: #636364;
  padding-left: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  margin-block: 10px;
}
.rem{
   margin-left: 140px;
   margin-top: 12px;
}
a{
  text-decoration: none;
  color: black;
}
.me{
  font-size: 0.9rem;
  padding-right: 60px;
}
.for{
  font-size: 0.9rem;
}
.button{
  position: relative;
}
.signin{
  width: 314px;
  height: 42px;
  background-color: #EA454C;
  color: #fff;
  font-size: 0.9rem;
  border: none;
  border-radius: 12px;
  margin-block: 16px;
  margin-left: 140px;
}
.google{
   width: 314px;
  height: 42px;
  background-color: transparent;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 12px;
  margin-left: 140px;
}
.logo{
  position: absolute;
  left: 32%;
  top: 71%;
}
.another{
  display: flex;
  padding-inline: 160px;
  padding-top: 16px;
}
.account{
  font-size: 0.8rem;
}
.free{
  padding-left: 4px;
  font-size: 0.8rem;
  color: #EA454C;
}